.m-bottom {
    margin-bottom: -2px;
}
.h-error {
    height: 576px;
}
.style-error {
    color: #636b6f;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 100;
    font-size: 60px;
}
.p-error {
    margin-bottom: 80px;
}